<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <h1>
            {% if name %}
                Hello {{ name }}!
                <br>
            {% endif %}
            {% if back %}
                Welcome back
            {% else %}
                Welcome to the Portal
            {% endif %}
        </h1>
    </body>
</html>
